[submodule "External/libuv"]
	path = External/libuv
	url = https://github.com/libuv/libuv.git
[submodule "External/kcp"]
	path = External/kcp
	url = https://github.com/skywind3000/kcp.git
[submodule "External/nlohmann"]
	path = External/nlohmann
	url = https://github.com/nlohmann/json.git
	branch = master
[submodule "External/http-parser"]
	path = External/http-parser
	url = https://github.com/nodejs/http-parser.git
[submodule "External/iocpp"]
	path = External/iocpp
	url = https://github.com/ChivenZhang/iocpp.git
